@import 'tailwindcss';

.creator-videos {
  @apply py-20 bg-white mt-10;
}

.creator-videos__title {
  @apply text-center mb-16 px-4 md:px-10 text-h3 font-heading pb-16;
}

/* Scroller */
.creator-videos__scroller {
  @apply relative overflow-hidden w-full;
}

/* Video Card */
.creator-videos__card {
  @apply relative overflow-hidden;
  clip-path: var(--rounded-clip-path);
  transform: translateZ(0);
  backface-visibility: hidden;
}

.creator-videos__video {
  @apply w-full h-full object-cover aspect-279/342;
  will-change: auto;
}
