@import 'tailwindcss';

.creators-cta {
  @apply py-20 md:py-32;
}

.creators-cta__container {
  @apply max-w-7xl mx-auto text-center space-y-8;
}

.creators-cta__subtitle {
  @apply text-h4 font-bold text-bright-fuchsia;
}

.creators-cta__title {
  @apply text-h3 mx-auto text-orange max-w-140;
}
