@import 'tailwindcss';

.creators-testimonial {
  @apply py-10 md:py-16 px-4 md:px-10 bg-orange rounded-4xl  lg:rounded-[60px];
}

.creators-testimonial__container {
  @apply max-w-7xl mx-auto grid grid-cols-1 lg:grid-cols-2 gap-16 items-center;
}

.creators-testimonial__content {
  @apply space-y-6 text-white;
}

.creators-testimonial__quote {
  @apply text-h3 font-light;
}

.creators-testimonial__author {
  @apply block text-base font-mono not-italic opacity-90;
}

.creators-testimonial__image {
  @apply relative overflow-hidden shadow-2xl aspect-545/571 md:aspect-square lg:aspect-545/571;
  clip-path: var(--square-rounded-clip-path);
}

.creators-testimonial__img {
  @apply w-full h-full object-cover;
}
