@import 'tailwindcss';

.creators-scroller {
  @apply relative overflow-hidden py-10;
}

.creators-scroller__avatar {
  @apply relative py-24;
}

.creators-scroller__image {
  @apply w-full h-full object-cover aspect-279/342;
  clip-path: var(--rounded-clip-path);
}

.creators-scroller__avatar-decoration {
  @apply absolute h-auto w-auto pointer-events-none select-none max-md:max-h-10;
  &.bottom-right {
    @apply bottom-10 right-0;
  }

  &.top-right {
    @apply top-8 -right-14;
  }
}
