/* ===== FONT FACE DECLARATIONS ===== */

/* Aeonik */
@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/Aeonik-Air.woff2') format('woff2'),
    url('/fonts/Aeonik-Air.woff') format('woff'),
    url('/fonts/Aeonik-Air.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/Aeonik-AirItalic.woff2') format('woff2'),
    url('/fonts/Aeonik-AirItalic.woff') format('woff'),
    url('/fonts/Aeonik-AirItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/Aeonik-Thin.woff2') format('woff2'),
    url('/fonts/Aeonik-Thin.woff') format('woff'),
    url('/fonts/Aeonik-Thin.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/Aeonik-ThinItalic.woff2') format('woff2'),
    url('/fonts/Aeonik-ThinItalic.woff') format('woff'),
    url('/fonts/Aeonik-ThinItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/Aeonik-Light.woff2') format('woff2'),
    url('/fonts/Aeonik-Light.woff') format('woff'),
    url('/fonts/Aeonik-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/Aeonik-LightItalic.woff2') format('woff2'),
    url('/fonts/Aeonik-LightItalic.woff') format('woff'),
    url('/fonts/Aeonik-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/Aeonik-Regular.woff2') format('woff2'),
    url('/fonts/Aeonik-Regular.woff') format('woff'),
    url('/fonts/Aeonik-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/Aeonik-RegularItalic.woff2') format('woff2'),
    url('/fonts/Aeonik-RegularItalic.woff') format('woff'),
    url('/fonts/Aeonik-RegularItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/Aeonik-Medium.woff2') format('woff2'),
    url('/fonts/Aeonik-Medium.woff') format('woff'),
    url('/fonts/Aeonik-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/Aeonik-MediumItalic.woff2') format('woff2'),
    url('/fonts/Aeonik-MediumItalic.woff') format('woff'),
    url('/fonts/Aeonik-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/Aeonik-Bold.woff2') format('woff2'),
    url('/fonts/Aeonik-Bold.woff') format('woff'),
    url('/fonts/Aeonik-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/Aeonik-BoldItalic.woff2') format('woff2'),
    url('/fonts/Aeonik-BoldItalic.woff') format('woff'),
    url('/fonts/Aeonik-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/Aeonik-Black.woff2') format('woff2'),
    url('/fonts/Aeonik-Black.woff') format('woff'),
    url('/fonts/Aeonik-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/Aeonik-BlackItalic.woff2') format('woff2'),
    url('/fonts/Aeonik-BlackItalic.woff') format('woff'),
    url('/fonts/Aeonik-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: 'Right Grotesk';
  src: url('/fonts/RightGrotesk-SpatialBlack.woff2') format('woff2'),
    url('/fonts/RightGrotesk-SpatialBlack.woff') format('woff'),
    url('/fonts/RightGrotesk-SpatialBlack.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Right Grotesk';
  src: url('/fonts/RightGrotesk-SpatialBlackItalic.woff2') format('woff2'),
    url('/fonts/RightGrotesk-SpatialBlackItalic.woff') format('woff'),
    url('/fonts/RightGrotesk-SpatialBlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'ABC Diatype';
  src: url('/fonts/ABCDiatype-Light.woff2') format('woff2'),
    url('/fonts/ABCDiatype-Light.woff') format('woff'),
    url('/fonts/ABCDiatype-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'ABC Diatype';
  src: url('/fonts/ABCDiatype-Regular.woff2') format('woff2'),
    url('/fonts/ABCDiatype-Regular.woff') format('woff'),
    url('/fonts/ABCDiatype-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'ABC Diatype';
  src: url('/fonts/ABCDiatype-Medium.woff2') format('woff2'),
    url('/fonts/ABCDiatype-Medium.woff') format('woff'),
    url('/fonts/ABCDiatype-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?bqe6bb');
  src:  url('/fonts/icomoon.eot?bqe6bb#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?bqe6bb') format('truetype'),
    url('/fonts/icomoon.woff?bqe6bb') format('woff'),
    url('/fonts/icomoon.svg?bqe6bb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\e90a";
}
.icon-user:before {
  content: "\e909";
}
.icon-right-arrow:before {
  content: "\e904";
}
.icon-chevron-thin-up:before {
  content: "\e905";
}
.icon-chevron-thin-right:before {
  content: "\e906";
}
.icon-chevron-thin-left:before {
  content: "\e907";
}
.icon-chevron-thin-down:before {
  content: "\e908";
}
.icon-facebook:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-x:before {
  content: "\e902";
}
.icon-tiktok:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-x:before {
  content: "\e902";
}
