.pricing-main {
  @apply bg-orange-50 -mt-30 pt-30;
}

.pricing-hero {
  @apply pt-32 pb-20 text-center px-4;
}

.pricing-hero__title {
  @apply text-h1;
}

.pricing-hero__subtitle {
  @apply text-h5 text-deep-maroon font-regular mx-auto mt-4 max-w-160;
}

.pricing-cards {
  @apply mx-auto px-4 pb-32 grid grid-cols-1 lg:grid-cols-3 gap-8;
}

.pricing-card {
  @apply bg-white rounded-[64px] p-8 flex flex-col relative hover:-translate-y-2 duration-300 hover:scale-105 transition-all hover:z-100 h-full border-burgundy-100 border;
  transform-style: preserve-3d;
  transition: transform 0.3s ease;

  &:hover {
    box-shadow: 0 4px 100px rgba(255, 140, 0, 0.2);
    transform: perspective(1000px) rotateX(2deg) rotateY(5deg) translateY(-8px)
      scale(1.05);
  }
}

.pricing-card--highlight {
  @apply bg-orange text-white!;

  .pricing-card__price {
    @apply text-white!;
  }
}

.pricing-card__tag {
  @apply inline-block px-4 py-1 rounded-full text-sm font-medium mb-6 w-max;
}

.pricing-card__tag--default {
  @apply bg-burgundy-50 text-dark-burgundy;
}

.pricing-card__tag--highlight {
  @apply bg-white text-white;
}

.pricing-card__title {
  @apply text-h3 font-primary tracking-tight mt-4;
}

.pricing-card__price {
  @apply text-h2 font-bold mb-8 tracking-tight;
}

.pricing-card__features {
  @apply space-y-2 mt-4 mb-12 grow;
}

.pricing-card__feature {
  @apply flex items-center gap-3 text-h5 mb-1;
}

.pricing-card__disclaimer {
  @apply text-sm text-slate-500 mb-6;
}

.pricing-card--highlight .pricing-card__disclaimer {
  @apply text-white/80;
}

.pricing-cta {
  @apply bg-burgundy-50 py-32 px-4;
}

.pricing-cta__container {
  @apply max-w-7xl mx-auto flex flex-col md:flex-row items-center justify-between gap-12;
}

.pricing-cta__content {
  @apply max-w-2xl;
}

.pricing-cta__title {
  @apply text-4xl md:text-6xl font-black mb-8 leading-tight;
}

.pricing-features {
  @apply my-20;
}

.pricing-features__title {
  @apply text-h4 font-heading mx-auto max-w-280 my-16 text-center px-8;
}

.pricing-features__grid {
  @apply flex flex-wrap mx-auto px-8 md:px-16 gap-8 gap-y-8 max-w-7xl content-center justify-center;
}

.pricing-features__card {
  @apply p-6 border relative bg-white border-burgundy-300 rounded-2xl min-h-50 h-full w-full md:w-[46%] lg:w-[30%];

  &::before {
    @apply w-full h-full border border-burgundy-300 absolute left-0 rounded-2xl -z-10 bg-white -bottom-3 content-[''];
  }
}

.pricing-features__card-title {
  @apply font-secondary text-h6 font-medium text-dark-burgundy mb-2 text-balance;
}

.pricing-extra {
  @apply grid md:grid-cols-12 gap-4 px-4;
}

.pricing-extra__video-card {
  @apply md:col-span-7 bg-red-200 rounded-[64px] overflow-hidden relative h-full min-h-160;
}

.pricing-extra__video {
  @apply object-cover w-full h-full;
}

.pricing-extra__video-overlay {
  @apply absolute bg-black/37 w-full h-full p-8 flex top-0 left-0 text-white flex-col justify-end;
}

.pricing-extra__video-subtitle {
  @apply text-h5 font-primary;
}

.pricing-extra__video-title {
  @apply text-h3;
}

.pricing-extra__video-price-wrapper {
  @apply flex gap-3;
}

.pricing-extra__enterprise-wrapper {
  @apply md:col-span-5 h-full;
}

.pricing-extra__enterprise-description {
  @apply mb-8 text-h6 text-white;
}

.pricing-extra__enterprise-list {
  @apply space-y-3;
}
