/* [project]/app/styles/components/content.css [app-client] (css) */
@layer properties {
  @supports (((-webkit-hyphens: none)) and (not (margin-trim: inline))) or ((-moz-orient: inline) and (not (color: rgb(from red r g b)))) {
    *, :before, :after, ::backdrop {
      --tw-font-weight: initial;
      --tw-leading: initial;
    }
  }
}

@layer components {
  :is(:is(.content, .ql-editor) > *) {
    --tw-font-weight: var(--font-weight-regular, 300) !important;
    font-weight: var(--font-weight-regular, 300) !important;
  }

  :is(.content, .ql-editor) p, :is(.content, .ql-editor) li {
    font-size: var(--text-base, 1rem);
    line-height: var(--tw-leading, var(--text-base--line-height, calc(1.5 / 1)));
    --tw-leading: var(--leading-normal, 1.5);
    line-height: var(--leading-normal, 1.5);
    color: var(--foreground);
  }

  @supports (color: color-mix(in lab, red, red)) {
    :is(.content, .ql-editor) p, :is(.content, .ql-editor) li {
      color: color-mix(in oklab, var(--foreground) 85%, transparent);
    }
  }

  :is(.content, .ql-editor) h1, :is(.content, .ql-editor) h2, :is(.content, .ql-editor) h3, :is(.content, .ql-editor) h4, :is(.content, .ql-editor) h5, :is(.content, .ql-editor) h6 {
    font-family: var(--font-primary, "Aeonik", sans-serif);
    --tw-font-weight: var(--font-weight-medium, 500);
    font-weight: var(--font-weight-medium, 500);
  }

  :is(.content, .ql-editor) a {
    color: var(--primary);
    text-decoration-line: underline;
  }

  :is(.content, .ql-editor) ul, :is(.content, .ql-editor) ol {
    margin-block: calc(var(--spacing, .25rem) * 1);
    padding-left: calc(var(--spacing, .25rem) * 8);
  }

  :is(.content, .ql-editor) ul {
    list-style-type: disc !important;
  }

  :is(.content, .ql-editor) ol {
    list-style-type: decimal !important;
  }

  :is(.content, .ql-editor) li, :is(.content, .ql-editor) li[data-list="bullet"] {
    font-family: var(--font-secondary, "ABC Diatype", sans-serif);
    margin-bottom: calc(var(--spacing, .25rem) * 1) !important;
    margin-left: calc(var(--spacing, .25rem) * 0) !important;
  }
}

.quill-editor-wrapper .ql-toolbar.ql-snow {
  border: none;
  border-bottom: 1px solid hsl(var(--input));
  font-family: var(--font-secondary), ui-sans-serif, system-ui, sans-serif;
  background-color: #0000;
  padding: 8px;
}

.quill-editor-wrapper .ql-container.ql-snow {
  font-family: var(--font-secondary), ui-sans-serif, system-ui, sans-serif;
  border: none;
  flex-direction: column;
  flex: 1;
  display: flex;
}

.quill-editor-wrapper .ql-editor {
  min-height: 150px;
  font-family: var(--font-secondary), ui-sans-serif, system-ui, sans-serif;
  flex: 1;
  padding: .625rem .75rem;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
}

.quill-editor-wrapper .ql-editor.ql-blank:before {
  color: hsl(var(--muted-foreground));
  font-style: normal;
  font-family: var(--font-secondary), ui-sans-serif, system-ui, sans-serif;
  left: .75rem;
  right: .75rem;
}

.ql-editor ol {
  padding-left: calc(var(--spacing, .25rem) * 0);
}

.ql-editor li {
  padding-left: calc(var(--spacing, .25rem) * 3);
}

.ql-formats button:hover .ql-stroke, .ql-formats button.ql-active .ql-stroke {
  stroke: var(--color-maroon-400, #e66a6a) !important;
}

.ql-formats button:hover .ql-fill, .ql-formats button.ql-active .ql-fill {
  fill: var(--color-maroon-400, #e66a6a) !important;
}

@property --tw-font-weight {
  syntax: "*";
  inherits: false
}

@property --tw-leading {
  syntax: "*";
  inherits: false
}

/*# sourceMappingURL=app_styles_components_content_0jp7l.~.css.map*/